extends ../../layouts/default.pug
include ../../mixins/box_head.pug
include ../../mixins/product-home.pug
block main 
    .container.my-3 
        .row   
            .col-12
                +box_head(title)

    +displayProduct (products)
    

                         