extends ../../layouts/default.pug
include ../../mixins/box_head.pug
include ../../mixins/alert.pug
include ../../mixins/product-home.pug
block main 
    +alert-error(5000)
    +alert-success(5000)
    .container.my-3 
        .row   
            .col-12
                +box_head("Sản phẩm nổi bật")

        +displayProduct(productFeatured)

    .container.my-3 
        .row   
            .col-12
                +box_head("Sản phẩm mới")
        +displayProduct(ProductNew)
                